@import "tailwindcss";

/* Variables simples */
:root {
  --primary: #10B981;
  --primary-hover: #059669;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  background: #F2F2F7;
  color: #000000;
}